<style>
		* {
			word-break: keep-all;
		}

		a {
			text-decoration: none;
		}

		h1,
		h2 {
			margin: 2rem;
		}

		h1 {
			font-size: 1.7em;
		}

		p {
			line-height: 1.8;
		}

		body {
			font: -apple-system-body
		}

		footer {
			margin: 2rem;
		}

		img {
			width: 100%;
			max-width: 600px;
			height: auto;
		}

		.poem {
			line-height: 2;
		}

		.suffix {
			font-size: 0.9rem;
		}

		.imageContainer {
			position: relative;
		}

		.grid-container {
			display: grid;
			grid-template-columns: auto auto auto;
			padding: 10px;
		}

		.grid-item {
			padding: 4px;
			
			text-align: center;
		}

		#daumRoughmapContainer1597651152951 {
			width: 80%;
			max-width: 640px;
			align: center;
		}

		#parents {
			margin: 2rem;
			line-height: 2.5;
		}

		#date {
			margin: 2rem;
			line-height: 2;
		}

		#address {
			color: #8a8a8a
		}
	</style>